<h1>Welcom <%= current_user.email %></h1>

<table>
    <thead>
        <tr>
            <th colspan="2">The users information:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email:</td>
            <td><%=current_user.email%></td>
        </tr>
        <tr>
            <td>Other Information:</td>
            <td>Don't have anything yet:</td>
        </tr>
    </tbody>


</table>