<h1>Log In Here</h1>

<form action="<%= sessions_url %>" method="post">
    <label for="email">Email:</label>
    <input type="text" name="user[email]" id="email">

    <label for="password_stuff">Password:</label>
    <input type="password" name="user[password]" id="password_stuff">

    <input type="submit" value="Submit">


</form>